# SORTING
# Sample List : [(8, 5), (1, 8), (5, 6), (2, 3), (2, 2)]

In [31]:
v = [(8, 5), (1, 8), (5, 6), (2, 3), (2, 2)]
second_index_value = []
for tuples in v:
#     print('Tuples are',tuples)
#     print('last element of tuple',tuples[1])
    second_index_value.append(tuples[1])

# print('All the last value of tuples are',second_index_value)
second_index_value.sort()
print('All the last value of tuples after sorting',second_index_value)



final=[]
for value in second_index_value:
    print('value',value)
    for tuples in v:
        print(tuples[1])
        if tuples[1]==value:
            final.append(tuples)
            print(final)
            break

All the last value of tuples after sorting [2, 3, 5, 6, 8]
value 2
5
8
6
3
2
[(2, 2)]
value 3
5
8
6
3
[(2, 2), (2, 3)]
value 5
5
[(2, 2), (2, 3), (8, 5)]
value 6
5
8
6
[(2, 2), (2, 3), (8, 5), (5, 6)]
value 8
5
8
[(2, 2), (2, 3), (8, 5), (5, 6), (1, 8)]

In [4]:
s = 'Hello world'

for word in s.split():
    print(word)
    print(word[0].upper())
    for char in word[1:]:
        print(char)

Hello
H
e
l
l
o
world
W
o
r
l
d

In [27]:
s = 'University Of Asia'

for word in s:
    print(word)

U
n
i
v
e
r
s
i
t
y

O
f

A
s
i
a

In [28]:
s = 'Asia pacific '

for word in s.split():
    print(word)

Asia
pacific

In [29]:
for i in range(1,3):
    for j in range(1,4):
        print(i,j)

1 1
1 2
1 3
2 1
2 2
2 3

In [21]:
1
12
123
1234
12345

12345

In [16]:

for i in range(1,4):
    for j in range(1,2):
        print(i,j)

1 1
2 1
3 1

In [17]:
1
12
123
1234
12345

12345

In [1]:
for i in range(1, 6):
    for j in range(1, i+1):
        print(j, end='')
    print()

1
12
123
1234
12345

In [23]:
for i in range(1,6):
    for j in range(i+1,0,-2):
        print(list(range(1,j)))
        break

[1]
[1, 2]
[1, 2, 3]
[1, 2, 3, 4]
[1, 2, 3, 4, 5]

In [24]:
list1 = [5,6,3,8,7]


i=0
while(i<len(list1)):
    if i%2!=0:
        print(list1[i])
    i = i+1

6
8

In [25]:
for j in range(0,5):
    print(j)

0
1
2
3
4

In [26]:
for i in range(0,8):
    print(i)

0
1
2
3
4
5
6
7

# Prime/non prime

In [71]:
num= 65
if num ==1:
       print (num ," is  not a prime number :")
elif num > 1:
    for i in range ( 2 , num): 
        if (num% i )==0:
            print ( num, "is not a prime number" )
          
            break
    else:
        print (num,"is a prime number ") 
            
            
else:
      print (num,"is a not a prime number ")

65 is not a prime number

In [ ]:
          
          //  print (i,"times", num //i,"is" 
                                                       for how many times multiplying
                   ,num)

In [13]:
for i in range(3, 4):
    for j in range(1, i+1):
        print(j, end='')
    print()

123

#####