In [1]:
#write a python  program to check  alist is empty or not

In [2]:
list1=[4,5]
if len(list1)>0:
    print('have value')
else:
    print(" have empty")

have value

In [3]:
# write a python to a specified program  to print a specified list after removed the 0th , 4th , 5th elements

In [4]:
color=["red",'orange','green','blue','violet','pink']
new_color=color.copy()

for (i,x) in enumerate(new_color):
        if i in (0,4,5):
              color.remove(x)

color

['orange', 'green', 'blue']

In [5]:
#write apython program to  generate  346 3D Array

In [6]:
[['*'*6]*4]*3

[['******', '******', '******', '******'],
 ['******', '******', '******', '******'],
 ['******', '******', '******', '******']]

In [7]:
[[list('*'*6)]*4]*3

[[['*', '*', '*', '*', '*', '*'],
  ['*', '*', '*', '*', '*', '*'],
  ['*', '*', '*', '*', '*', '*'],
  ['*', '*', '*', '*', '*', '*']],
 [['*', '*', '*', '*', '*', '*'],
  ['*', '*', '*', '*', '*', '*'],
  ['*', '*', '*', '*', '*', '*'],
  ['*', '*', '*', '*', '*', '*']],
 [['*', '*', '*', '*', '*', '*'],
  ['*', '*', '*', '*', '*', '*'],
  ['*', '*', '*', '*', '*', '*'],
  ['*', '*', '*', '*', '*', '*']]]

In [8]:
[[list('*'*6)]*5]*4   #self practise

[[['*', '*', '*', '*', '*', '*'],
  ['*', '*', '*', '*', '*', '*'],
  ['*', '*', '*', '*', '*', '*'],
  ['*', '*', '*', '*', '*', '*'],
  ['*', '*', '*', '*', '*', '*']],
 [['*', '*', '*', '*', '*', '*'],
  ['*', '*', '*', '*', '*', '*'],
  ['*', '*', '*', '*', '*', '*'],
  ['*', '*', '*', '*', '*', '*'],
  ['*', '*', '*', '*', '*', '*']],
 [['*', '*', '*', '*', '*', '*'],
  ['*', '*', '*', '*', '*', '*'],
  ['*', '*', '*', '*', '*', '*'],
  ['*', '*', '*', '*', '*', '*'],
  ['*', '*', '*', '*', '*', '*']],
 [['*', '*', '*', '*', '*', '*'],
  ['*', '*', '*', '*', '*', '*'],
  ['*', '*', '*', '*', '*', '*'],
  ['*', '*', '*', '*', '*', '*'],
  ['*', '*', '*', '*', '*', '*']]]

In [9]:
#write apython program to specifed list after removing evden number

In [10]:
x=[22,23,23,24,44,45,46,47,48,49,59]
for i in x :
    if i %2!=0:
        print(i)

23
23
45
47
49
59

In [11]:
#write a python program to generate a list except for the first 5 elements range(1-30)

In [14]:
list1= list(range(1,30))
for i,j in enumerate (list1):
    list1[i]=j*j
    
    

list1[5:]

[36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400,
 441,
 484,
 529,
 576,
 625,
 676,
 729,
 784,
 841]

In [13]:
list1

[1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400,
 441,
 484,
 529,
 576,
 625,
 676,
 729,
 784,
 841]

In [15]:
#flatten list from sublist

In [27]:
original_list=[[7,8],[5,6]]
flatten_list=[[8,9],[7,5]]
for sub_list in original_list:
    for ele in sub_list:
         flatten_list.append(ele)

In [26]:
flatten_list

[[8, 9], [7, 5], 7, 8, 5, 6]

In [41]:
import numpy as np
gfg= np.array ([[3,5],[8,9]])
flat_gfg=gfg.flatten()
print(flat_gfg)

[3 5 8 9]

In [42]:
#find a armstrong number

In [55]:
n = input()
sum1= 0
for digit in n:
    sum1= sum1 + (int(digit)**3)
    
if sum1==int(n):
    print("Armstrong")
else:
     print("not Armstrong")

153
Armstrong

In [56]:
#fibonaccci

In [68]:
n=10
a=0
b=1
  # print (a,b,end='')
for i in range (n-2):
    c=a+b
    print (c)
    a=b
    b=c

1
2
3
5
8
13
21
34

In [73]:
def summation ():
    a=20
    b=60
    c=a+b
    return c
summation()

80

In [79]:
def  multiplication():
    a=7
    b=8
    c=(a*b)
    return c
multiplication()

56